* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.logo {
    width: 200px;
}

.navItems {
    display: flex;
}

.navItems ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    align-self: center;
}

.navItems ul li {
    padding: 10px;
    margin: 10px;
}

.resturant-container {
    display: flex;
    flex-wrap: wrap;
}

.resturant-card {
    width: 200px;
    min-height: 300px;
    padding: 5px;
    background-color: #f0f0f0;
    margin: 5px;
}

.resturant-card h3,
.resturant-card h4 {
    padding-bottom: 7px;
}

.resturant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.resturant-logo {
    width: 100%;
    height: 60%;
}

.search {
    padding: 10px;
}

.filterbtn {
    margin: 10px 0;
}